<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Créditos</h1>

    <a href="/">Inicio</a>
    <a href="/author">Créditos</a>
    <a href="/ayuda">Ayuda</a>

    <p>
	Esta práctica ha sido desarrollada por Miguel Ángel García Casas
    </p>

    <img src="/images/FotoMA.jpg" />

    <p>
	Está alojada en el repositorio de GitHub: <a href="https://github.com/MiguelAngelJaen/quiz2017magc">https://github.com/MiguelAngelJaen/quiz2017magc</a>
    </p>

  </body>
</html>
